{% extends 'lememe/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}

    <!-- col means column, md >=992px (Also use xs, sm and lg), and the 3 represents the size of the column
    3 * 4 = 12 (A 6 column layout would use 2 if they had equal size) -->

    <div class="container">
        <div class="jumbotron bg-transparent p-3 mb-5 rounded" style="background-color:#ACD0DE">
            <div class="container">
                <h1 class="display-3 text-left">About Us...</h1>
                <p class="container rounded pb-3 pt-3 lead text-left" style="background-color: rgba(255,255,255,0.70)"> Here at le Meme, we pride ourselves in showcasing the
                    highest
                    quality memes, whilst giving meme enthusiasts
                    a place to call home. Our team consists of 4 members, always hard at work to provide the best
                    experience
                    possible!</p>
            </div>
            <div class="divider-horizontal" style="margin: 40px 0px 0px 0px"></div>
            <div class="team-grid"></div>
            <div class="team-boxed">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center breath-animation duration">Meet the Team!</h2>
                    </div>
                    <div class="row people">
                        <div class="col item">
                            <div class="box"><img class="rounded-circle" src="{% static 'images/calum_firth.jpg' %}">
                                <h3 class="name">Calum Firth</h3>
                                <p class="title">Frontend | Design Spec</p>
                                <p class="description">"Over the course of this project I have gained invaluable skills and  experience in developing a high quality web application and communicating effectively within a team. The development process has given me crucial insight in developing and maintaining a large scale project. I want to thank my team members for the opportunity!"</p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a
                                        href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                        class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col item">
                            <div class="box"><img class="rounded-circle"
                                                  src="{% static 'images/Iacovos_kelepeniotis.jpg' %}">
                                <h3 class="name">Iacovos Kelepeniotis</h3>
                                <p class="title">Frontend | Testing</p>
                                <p class="description">"This project was quite a tough challenge, as it was something entirely new to me. Working as a frontend developer I expanded my skills on designing a web app and helped me improve upon it. Overall it was a nice experience that required a lot of teamwork and communication and I'm proud that I was a part of it."</p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a
                                        href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                        class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row people">
                        <div class="col item">
                            <div class="box"><img class="rounded-circle"
                                                  src="{% static 'images/pierakis_kimonos.jpg' %}">
                                <h3 class="name">Pieris Kimonos</h3>
                                <p class="title">Team Leader | Frontend | Backend</p>
                                <p class="description">"Working on this project was a blast! I have learned a lot of things about web technologies and especially Django. Dispite the hardships we came across, we managed to overcome them by working as a team. This was overall a brilliant experience."</p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a
                                        href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                        class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col item">
                            <div class="box"><img class="rounded-circle" src="{% static 'images/rishi_vinod.jpg' %}">
                                <h3 class="name">Rishi Vinod</h3>
                                <p class="title">Populating | Testing</p>
                                <p class="description">"This was a great learning experience which helped improve my ability to work in a team and work with Django. I am more comfortable with html and CSS because of this experience. I thoroughly enjoyed designing the project with the team and  seeing our initial idea come to life."</p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a
                                        href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                        class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}