{% extends 'lememe/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}

    <!-- col means column, md >=992px (Also use xs, sm and lg), and the 3 represents the size of the column
    3 * 4 = 12 (A 6 column layout would use 2 if they had equal size) -->

    <div class="container">
        <div class="jumbotron bg-transparent p-3 mb-5 rounded" style="background-color:#ACD0DE">
            <div class="container">
                <h1 class="display-3 text-left">About Us...</h1>
                <p class="container rounded pb-3 pt-3 lead text-left" style="background-color: rgba(255,255,255,0.70)"> Here at le Meme, we pride ourselves in showcasing the
                    highest
                    quality memes, whilst giving meme enthusiasts
                    a place to call home. Our team consists of 4 members, always hard at work to provide the best
                    experience
                    possible!</p>
            </div>
            <div class="divider-horizontal" style="margin: 40px 0px 0px 0px"></div>
            <div class="team-grid"></div>
            <div class="team-boxed">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center breath-animation duration">Meet the Team!</h2>
                    </div>
                    <div class="row people">
                        <div class="col item">
                            <div class="box"><img class="rounded-circle" src="{% static 'images/calum_firth.jpg' %}">
                                <h3 class="name">Calum Firth</h3>
                                <p class="title">Musician</p>
                                <p class="description">This is Calum's first collaborative project, he hopes that it
                                    will bring joy to meme freaks all around the world</p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a
                                        href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                        class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col item">
                            <div class="box"><img class="rounded-circle"
                                                  src="{% static 'images/Iacovos_kelepeniotis.jpg' %}">
                                <h3 class="name">Iacovos Kelepeniotis</h3>
                                <p class="title">Artist</p>
                                <p class="description">This is Iacovos' first collaborative project, he hopes that it
                                    will bring joy to meme freaks all around the world</p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a
                                        href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                        class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row people">
                        <div class="col item">
                            <div class="box"><img class="rounded-circle"
                                                  src="{% static 'images/pierakis_kimonos.jpg' %}">
                                <h3 class="name">Pieris Kimonos</h3>
                                <p class="title">Stylist</p>
                                <p class="description">This is Pieris' first collaborative project, he hopes that it
                                    will bring joy to meme freaks all around the world</p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a
                                        href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                        class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col item">
                            <div class="box"><img class="rounded-circle" src="{% static 'images/rishi_vinod.jpg' %}">
                                <h3 class="name">Rishi Vinod</h3>
                                <p class="title">Stylist</p>
                                <p class="description">This is Rishi's first collaborative project, he hopes that it
                                    will bring joy to meme freaks all around the world</p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a
                                        href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                        class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}