{% load staticfiles %}

{#CATEGORIES FOR LARGE VIEW#}
<div class="card shadow-sm d-none d-sm-block">
    <div class="card-header bg-dark">
        <h5 class="text-white">Categories</h5>
    </div>
    <ul class="list-group list-group-flush">
        {% if cats %}
        {% for c in cats %}
        {% if c == act_cat %}
        <li id="{{ c.name }}" class="list-group-item container justify-content-between category-item bg-secondary">
            <div class="row">
                <div class="col-3">
                    <div class="image-cropper ml-3">
                        <img class="category_pic"
                            src="{{ c.picture.url }}"
                            onerror="this.src='{% static 'images/lememe_icon.jpg' %}'">
                    </div>
                </div>
                <div class="col-9 mx-auto my-auto">
                    <strong>
                        <a class="text-white" href="{% url 'lememe:show_category' c.slug %}">{{ c.name }}</a>
                    </strong>
                </div>
            </div>
        </li>

        {% else %}
        <li id="{{ c.name }}" class="list-group-item container justify-content-between category-item">
            <div class="row">
                <div class="col-3">
                    <div class="image-cropper ml-3">
                        <img class="category_pic"
                            src="{{ c.picture.url }}"
                            onerror="this.src='{% static 'images/lememe_icon.jpg' %}'">
                    </div>
                </div>
                <div class="col-9 mx-auto my-auto">
                    <a class="text-dark" href="{% url 'lememe:show_category' c.slug %}">{{ c.name }}</a>
                </div>
            </div>
        </li>

        {% endif %}
        {% endfor %}
        {% else %}
        <li class="list-group-item"><strong>There are no categories present.</strong></li>
        {% endif %}
    </ul>
</div>

{#CATEGORIES FOR SMALL VIEW#}
<div class="card shadow-sm d-block d-sm-none">
    <div class="card-header bg-dark collapsed" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false"
         aria-controls="collapseListGroup1">
        <h5 class="text-white">Categories <span class="text-muted small">(click to expand)</span></h5>
    </div>
    <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="collapseListGroupHeading1">
        <ul class="list-group list-group-flush">
            {% if cats %}
                {% for c in cats %}
                    {% if c == act_cat %}
                        <li class="list-group-item container justify-content-between category-item bg-secondary">
                            <div class="row">
                                <div class="col-3">
                                    <div class="image-cropper ml-3">
                                        <img class="category_pic"
                                             src="{{ c.picture.url }}"
                                             onerror="this.src='{% static 'images/lememe_icon.jpg' %}'">
                                    </div>
                                </div>
                                <div class="col-9 mx-auto my-auto">
                                    <strong>
                                        <a class="text-white"
                                           href="{% url 'lememe:show_category' c.slug %}">{{ c.name }}</a>
                                    </strong>
                                </div>
                            </div>
                        </li>

                    {% else %}
                        <li class="list-group-item container justify-content-between category-item">
                            <div class="row">
                                <div class="col-3">
                                    <div class="image-cropper ml-3">
                                        <img class="category_pic"
                                             src="{{ c.picture.url }}"
                                             onerror="this.src='{% static 'images/lememe_icon.jpg' %}'">
                                    </div>
                                </div>
                                <div class="col-9 mx-auto my-auto">
                                    <a class="text-dark" href="{% url 'lememe:show_category' c.slug %}">{{ c.name }}</a>
                                </div>
                            </div>
                        </li>

                    {% endif %}
                {% endfor %}
            {% else %}
                <li class="list-group-item"><strong>There are no categories present.</strong></li>
            {% endif %}
        </ul>
    </div>
</div>




