{% extends 'lememe/base.html' %}
{% load staticfiles %}

{% block title_block %}
Contact
{% endblock%}

{% block main_block %}
<!-- col means column, md >=992px (Also use xs, sm and lg), and the 3 represents the size of the column
3 * 4 = 12 (A 6 column layout would use 2 if they had equal size) -->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        Contact page says
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

    </div>

</div>
{% endblock %}