{% extends 'lememe/base.html' %}
{% load staticfiles %}
{% load lememe_template_tags %}


{% block rightbody_block %}
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-lg-6 pl-md-5 pr-md-5">
                <img src="{{ MEDIA_URL }}{{ profile.picture }}?v={% random_number 4 %}" class="img-circle img-thumbnail rounded-pill shadow w-100"
                     alt="Profile Picture" onerror="this.src='{% static 'images/placeholder_profile.png' %}'">
                <h4 class="post-label" style="margin-top: 20px">{{ profile.user.username.capitalize }}</h4>
                <div>
                </div>
                <p class="font-italic">"{% if profile.bio %}{{ profile.bio }}{% else %}<span class="small text-secondary">No Bio{% endif %}</span>"</p>
            </div>
            <div class="col-sm-12 col-lg-6 mx-0">

                <ul class="list-group list-group-flush text-left">
                    <li class="list-group-item">Name: {{ profile.user.first_name.capitalize }}</li>
                    <li class="list-group-item">Surname: {{ profile.user.last_name.capitalize }}</li>
                    <li class="list-group-item">Email: {{ display_user.email }}</li>
                    <li class="list-group-item">Website: {{ profile.website }}</li>
                    <li class="list-group-item">Joined: {{ display_user.date_joined|date:'d M. Y' }}</li>
                    <li class="list-group-item">Meme count: {{ posts|length }}</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
	
	
	
	
	
	
        <ul class="nav nav-pills justify-content-end" id="myTab" role="tablist">
            <li class="nav-item w-50 text-center bg-secondary rounded-top">
                <a class="nav-link text-white{% if activate_new_tab != True %} active{% endif %}" id="popular-tab" data-toggle="tab" href="#popular" role="tab"
                   aria-controls="popular"
                   aria-selected="true">{{profile.user.username.capitalize}}'s memes</a>
            </li>
            <li class="nav-item w-50 text-center bg-secondary rounded-top">
                <a class="nav-link text-white{% if activate_new_tab == True %} active{% endif %}" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new"
                   aria-selected="false">{{profile.user.username.capitalize}}'s liked memes</a>
            </li>
        </ul>
        <div class="divider-horizontal"></div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade{% if activate_new_tab != True %} show active{% endif %}" id="popular" role="tabpanel" aria-labelledby="popular-tab">

                {% for post in posts %}
                    <!-- View for one post -->
                    <div class="card border-0 shadow">
                        <div class="post-title card-header">{{ post.title }}</div>
                        <a href="{% url 'lememe:show_post' post.client_id %}">
                            <img src="{{ MEDIA_URL }}{{ post.image }}" class="card-img-top" alt="Post's Image"></a>
                        <div class="card-footer text-center">
                            <div class="row">
                              
                                <!-- Likes -->
                                <div class="col-4">
                                    <div class="badge post-label border shadow-sm">
                                        <img src="{% static 'icons/star.svg' %}">
                                        <h5 class="my-auto ml-2">{{ post.get_rating|floatformat:0 }}%</h5>
                                    </div>
                                </div>

                                <!-- Comments -->
                                <div class="col-4">
                                    <div class="badge post-label border shadow-sm">
                                        <img src="{% static 'icons/comment.svg' %}">
                                        <h5 class="my-auto ml-2">{{ post.get_num_of_comments }}</h5>
                                    </div>
                                </div>

                                <!-- Views -->
                                <div class="col-4">
                                    <div class="badge post-label border shadow-sm">
                                        <img src="{% static 'icons/eye.svg' %}">
                                        <h5 class="my-auto ml-2">{{ post.views }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>
                {% endfor %}
            </div>
			
            <div class="tab-pane fade{% if activate_new_tab == True %} show active{% endif %}" id="new" role="tabpanel" aria-labelledby="new_tab">
				{% if liked_posts %}
                {% for post in liked_posts %}
                    <!-- View for one post -->
                    <div class="card border-0 shadow">
                        <div class="post-title card-header">{{ post.post.user }}</div>
                        <a href="{% url 'lememe:show_post' post.post.client_id %}">
                            <img src="{{ MEDIA_URL }}{{ post.post.image }}" class="card-img-top" alt="Post's Image"></a>
                        <div class="card-footer text-center">
                            <div class="row">

                                <!-- Likes -->
                                <div class="col-4">
                                    <div class="badge post-label border shadow-sm">
                                        <img src="{% static 'icons/star.svg' %}">
                                        <h5 class="my-auto ml-2">{{ post.post.get_rating|floatformat:0}}%</h5>
                                    </div>
                                </div>

                                <!-- Comments -->
                                <div class="col-4">
                                    <div class="badge post-label border shadow-sm">
                                        <img src="{% static 'icons/comment.svg' %}">
                                        <h5 class="my-auto ml-2">{{ post.post.get_num_of_comments }}</h5>
                                    </div>
                                </div>

                                <!-- Views -->
                                <div class="col-4">
                                    <div class="badge post-label border shadow-sm">
                                        <img src="{% static 'icons/eye.svg' %}">
                                        <h5 class="my-auto ml-2">{{ post.post.views}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>
                {% endfor %}
				{% else %}
				<p>{{profile.user.username.capitalize}} hasn't liked any memes yet...</p>
				{% endif %}
{% endblock %}