{% extends 'lememe/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block main_block %}
    <h1>Register for Lememe</h1>
    {% if registered %}
        Lememe says: <strong>thank you for registering!</strong>
        <a href="{% url 'lememe:index' %}">Return to the homepage.</a><br />
    {% else %}
        Lememe says: <strong>register here!</strong><br />
        <form id="user_form" method="post" action="{% url 'lememe:register' %}" enctype="multipart/form-data">

        {% csrf_token %}
        <!-- Display each form -->
{#        the as_p template function on the user_form and profile_form wraps#}
{#        each element in the form in a paragraph (denoted by the <p> HTML tag). This ensures that each#}
{#        element appears on a new line.#}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}