{% extends 'lememe/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title_block %}
    Settings
{% endblock %}

{% block rightbody_block %}

    {#    <form action="{% url 'lememe:show_settings' %}" method="post" enctype="multipart/form-data" novalidate>#}
    {#        {% csrf_token %}#}
    {##}
    {#        {% if user_form %}#}
    {##}
    {#            {% for field in user_form %}#}
    {##}
    {#                <p>{{ field.label }}: {{ field }}</p>#}
    {#            {% endfor %}#}
    {##}
    {#        {% endif %}#}
    {##}
    {##}
    {#        {% if profile_form %}#}
    {##}
    {#            {% for field in profile_form %}#}
    {#                <p>{{ field.label }}: {{ field }}</p>#}
    {#            {% endfor %}#}
    {##}
    {#        {% endif %}#}
    {##}
    {#        <input type="submit" name="Submit" title="Submit">#}
    {##}
    {#    </form>#}

    <form action="{% url 'lememe:show_settings' %}" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {% if user_form and profile_form %}

            {# HIDDEN FIELDS #}
            {% for hidden_field in user_form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for hidden_field in profile_form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {# SHOW FORM ERRORS #}
            {% if user_form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in user_form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% if profile_form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in profile_form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {# DISPLAY FORMS #}
            <div class="container">
                <h2>User's settings</h2>
                <div class="row">
                    <div class="col-lg-4 pb-5">
                        <!--Profile Picture input-->
                        <div class="form-row">
                            <div class="container">
                                <div class="picture-container">
                                    <div class="picture">
                                        <img src=""
                                             class="picture-src" id="ImagePreview" title="">
                                        {% if profile_form.is_bound %}
                                            {% if profile_form.picture.errors %}
                                                {% render_field profile_form.picture class="form-control is-invalid" %}
                                                {% for error in profile_form.picture.errors %}
                                                    <div class="invalid-feedback">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                {% render_field profile_form.picture class="form-control is-valid" %}
                                            {% endif %}
                                        {% else %}
                                            {% render_field profile_form.picture class="form-control" %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if profile_form.picture.help_text %}
                                <small class="form-text text-muted">{{ profile_form.picture.help_text }}</small>
                            {% endif %}
                        </div>


                        <div class="author-card-details">
                            <h5 class="author-card-name text-lg">{{ user.username }}</h5><span
                                class="author-card-position">Joined {{ user.date_joined|date:'d M. Y' }}</span>
                        </div>

                    </div>
                    <!-- Profile Settings-->


                    <!--Title input-->
                    <div class="form-row">
                        {{ form.title.label_tag }}

                        {% if form.is_bound %}
                            {% if form.title.errors %}
                                {% render_field form.title class="form-control is-invalid" %}
                                {% for error in form.title.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.title class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field form.title class="form-control" %}
                        {% endif %}

                        {% if form.title.help_text %}
                            <small class="form-text text-muted">{{ form.title.help_text }}</small>
                        {% endif %}
                    </div>
                    {#                WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW#}
                    <div class="col-lg-8 pb-5">
                        <div class="row">
                            <!-- First Name Input -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ user_form.first_name.label_tag }}</label>

                                    {% if user_form.is_bound %}
                                        {% if user_form.first_name.errors %}
                                            {% render_field user_form.first_name class="form-control is-invalid" value=user_form.first_name.value %}
                                            {% for error in user_form.first_name.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field user_form.first_name class="form-control is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field user_form.first_name class="form-control" %}
                                    {% endif %}

                                    {% if user_form.first_name.help_text %}
                                        <small class="form-text text-muted">{{ user_form.first_name.help_text }}</small>
                                    {% endif %}

                                </div>
                            </div>
                            <!-- Last Name Input -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ user_form.last_name.label_tag }}</label>

                                    {% if user_form.is_bound %}
                                        {% if user_form.last_name.errors %}
                                            {% render_field user_form.last_name class="form-control is-invalid" value=user_form.last_name.value %}
                                            {% for error in user_form.last_name.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field user_form.last_name class="form-control is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field user_form.last_name class="form-control" %}
                                    {% endif %}

                                    {% if user_form.last_name.help_text %}
                                        <small class="form-text text-muted">{{ user_form.last_name.help_text }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Email Input -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ user_form.email.label_tag }}</label>

                                    {% if user_form.is_bound %}
                                        {% if user_form.email.errors %}
                                            {% render_field user_form.email class="form-control is-invalid" value=user_form.email.value %}
                                            {% for error in user_form.email.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field user_form.email class="form-control is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field user_form.email class="form-control" %}
                                    {% endif %}

                                    {% if user_form.email.help_text %}
                                        <small class="form-text text-muted">{{ user_form.email.help_text }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Website Input -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ profile_form.website.label_tag }}</label>

                                    {% if profile_form.is_bound %}
                                        {% if profile_form.website.errors %}
                                            {% render_field profile_form.website class="form-control is-invalid" value=profile_form.website.value %}
                                            {% for error in profile_form.website.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field profile_form.website class="form-control is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field profile_form.website class="form-control" %}
                                    {% endif %}

                                    {% if profile_form.website.help_text %}
                                        <small class="form-text text-muted">{{ profile_form.website.help_text }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-inline">
                            <div class="form-group">
                                <label>Bio</label>
                                <textarea class="form-control" type="text" id="Bio" rows="4"></textarea>
                            </div>

                        </div>
                        <div class="col-12 d-inline">

                            <div class="d-flex flex-wrap justify-content-between align-items-center">
                                <button class="btn btn-style-1 btn-primary" type="submit" data-toast=""
                                        data-toast-position="topRight" data-toast-type="success"
                                        data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
                                        data-toast-message="Your profile updated successfuly.">Update Profile
                                </button>
                            </div>
                        </div>
                        <hr class="mt-2 mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="account-pass">New Password</label>
                                    <input class="form-control" type="password" id="account-pass">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="account-confirm-pass">Confirm Password</label>
                                    <input class="form-control" type="password" id="account-confirm-pass">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <button class="btn btn-style-1 btn-primary" type="submit" data-toast=""
                                    data-toast-position="topRight" data-toast-type="success"
                                    data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
                                    data-toast-message="Your profile updated successfuly.">Change Password
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    </form>

{% endblock %}